#secretpage {
  background: linear-gradient(pink, blue, red, purple, yellow, green, DarkSeaGreen, DarkSlateGrey);
}

#unloaded {
  background-color: black;
}

#home {
  background-image: linear-gradient(aliceblue, 65%,  DarkSeaGreen  );
}

#home .title{
  margin-top: 0px;
}

#home .description{
  padding: 0%;
  justify-content: left;
  text-align: left;
}

#link {
  color: red;
}

#currentproject {
  background-image: linear-gradient(midnightblue, 65%, goldenrod);
  color: white;
  overflow-x: hidden;
}

#currentproject .title {
  margin-top:0px;
}

#currentproject .description {
  padding: 0%;

}

#clubactivities {
  background-image: linear-gradient(palegreen, salmon);
}

#clubactivities .title {
  margin-top:0px;
}

#clubactivities .description {
  padding: 0%;
}

#contactus {
  background-image: linear-gradient(#CF5C36, #D8Ae95);
  color: white;
  overflow-x: hidden;

}

#contactus .title {
  margin-top:0px;
}

#contactus .description {
  padding: 0%;
}
.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  transition: background-color 3s ease-in-out;
}

#whoarewe {
  background-image: url('/hackerman.png');
  background-size:cover;
  background-attachment: fixed;
  color: white;
  overflow-x: hidden;
}


#resources {
  background-image: linear-gradient(#EBE360, #DFF4E5);
  
}


.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
}

.containerrow {
  display: flex;
  flex-direction: row;
}

.containercol {
  display: flex;
  flex-direction: column;
}

.title {
  font-size: 600%;
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: center;
  margin-top: 300px;
}

.subtitle {
  font-size: 300%;
  font-weight: bold;
  margin-top: 4vh;
  margin-bottom: 2vh;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: start;
}

.buttonlist {
  justify-content: space-between;
  min-height: 30vh;
  min-width: 50vh;
  display: flex;
  flex-direction: column;
}

.description {
  text-align: right;
  padding: 0% 10%;
  font-size: 200%;
  line-height: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.bulletdescription {
  text-align: left;
  padding: 0% 10%;
  font-size: 200%;
  line-height: 200%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

.fadeinsection {
  opacity: 0;
  transform: translateY(-20vh);
}
.fadeinsectionisvisible {
  opacity: 1;
  transform: translateY(0vh);
  transition: opacity 0.6s ease-out, transform 1.2s ease-out, visibility 1.2s ease-out;

}

.divpadding {
  padding-bottom: 70px;
  width: 72.5vw;
  
}


.resourcesbutton {
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 0%;
  font-size: x-large;
  font-weight: 100%;
  color:#002642;
  align-self: left;
}
.nextbutton {
  min-width: 100vw;
  top:50vh;
  position:fixed;
  display:inline-flex;
  align-items: center;
  z-index: 10;
}

#left {
  left:0;
  position: fixed;
}
#right {
  right:0;
  position: fixed;

}